.header-container {
    padding: 10px 20px;
    background-color: #0d475c; 
    border-bottom: 3px solid #007bff; /* Green border */
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex; /* Center elements horizontally */
    align-items: center; /* Align elements vertically */
  }
  
  .headerlinks {
    text-decoration: none;
    font-size: 24px;
    color: #72ef36;
    font-weight: bold;
  }
  
  .select {
    margin-left: 20px; /* Spacing after link */
    padding: 5px 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
  }
  
  .search {
    margin-left: 20px; /* Spacing after select */
    outline: none;
    padding-left: 10px;
    width: 400px;
    height: 44px;
    border: 2px solid #007bff; 
    border-radius: 4px 0px 0px 4px;
  }

  .headerselect{
    margin-left: 1em;
    height: 2em;
    
  }
  
  .search-btn {
    height: 44px;
    background-color: #007bff; /* Green background */
    color: #fff; /* White text */
    border-radius: 0px 4px 4px 0px;
    outline: none;
    border: none;
    padding: 0px 15px;
  }
  
  .logout-btn {
    height: 35px;
    background-color: #007bff; /* Green background */
    color: #fff; /* White text */
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 1px 16px;
    margin-right: 10px;
  }
  
  .user-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff; /* Green background */
    width: 40px;
    height: 40px;
    color: #fff; /* White text */
    font-size: 14px;
    border-radius: 50%;
  }
  
  .user-dropdown-menu {
    min-height: 100px;
    width: 200px;
    background-color: #fff; /* White background */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin-top: 50px;
    margin-right: 50px;
    color: #000; /* Black text */
    border-radius: 7px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .user-dropdown-menu a {
    color: #000; /* Black text */
    text-decoration: none; /* Remove underline */
    display: block;
    margin-bottom: 5px;
  }
  